
@import '~@angular/material/theming';

// Define a custom theme for your application.
// For each of the palettes, you can specify a default, lighter, and darker
// hue. The primary color palette will be used for the primary, warning and
// error messages, and the accent color palette will be used for the accent
// and action elements.

$custom-theme: mat-light-theme((
  color: (
    primary: #0055FE,
    accent: #0055FE,
    warn: #0055FE,
  )
));

@include angular-material-theme($custom-theme);

// Make sure the application uses the new theme.
@include angular-material-theme($custom-theme);